//content width
$width_max: 1440px;
$width_min: 320px;
$width_content_slim: 880px;
$width_content_wide: $width_max;

//breakpoints
$breakpoint-mobile-only: 420px;
$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;
$breakpoint-large: $width_max;

// Gutenberg widths
$width-wide: $width_max;
$width-full: 100%;

/**
mixin usage:  	
 @include screen(large, min) {
 @include screen(small) {
 @include screen(custom, max, 400) {
*/

@mixin screen($size, $type: max, $pixels: $breakpoint-small) {

	@if $type=='max' {
		$type : 'max-width';
	} @else if $type=='min'  {
		$type : 'min-width';
	}
	@if $size=='small' {
		@media screen and ($type: $breakpoint-small) {
			@content;
		}
	}

	@else if $size=='med-small' {
		@media screen and ($type: $breakpoint-med-small) {
			@content;
		}
	}

	@else if $size=='med' {
		@media screen and ($type: $breakpoint-med) {
			@content;
		}
	}

	@else if $size=='large' {
		@media screen and ($type: $breakpoint-large) {
			@content;
		}
	}

	@else if $size=='custom' {
		@media screen and ($type: $pixels + 'px') {
			@content;
		}
	}

	@else {
		@content;
	}
}

